# Dépendances
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
out/

# Environnement
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
coverage/
.nyc_output/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# NestJS
*.js.map
*.d.ts

# Vite
.vite/

# Docker
.dockerignore
