---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: maison-epouvante
  labels:
    app: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: maison-epouvante/gateway:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: '3000'
            - name: NODE_ENV
              value: production
            - name: KEYCLOAK_URL
              value: http://keycloak:8080
            - name: KEYCLOAK_REALM
              value: maison-epouvante
            - name: AUTH_SERVICE_URL
              value: http://auth:3001
            - name: VENTE_SERVICE_URL
              value: http://vente:3002
            - name: COMMUNAUTE_SERVICE_URL
              value: http://communaute:3003
            - name: MEDIA_SERVICE_URL
              value: http://media:3004
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          livenessProbe:
            httpGet:
              path: /api
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /api
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3

---
apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: maison-epouvante
  labels:
    app: gateway
spec:
  type: ClusterIP
  selector:
    app: gateway
  ports:
    - port: 3000
      targetPort: 3000
